# --- STM32CubeIDE / Eclipse Specific ---
.settings/
.launches/
.gdbinit
.project
.cproject
Debug/
Release/
bin/
obj/

# --- Build Artifacts ---
*.elf
*.hex
*.bin
*.map
*.list
*.o
*.d
*.su
*.axf
*.elf.size

# --- Logs and Backups ---
*.log
*.bak
*.ioc.bak

# --- System & OS clutter ---
.DS_Store
Thumbs.db
desktop.ini

# --- Debugging & Temporary Files ---
*.dwo
*.su
*.idb
*.pdb
*.tmp
.tmp_versions/
